<h1>This Event</h1>
<%= render partial: "shared/event_info", locals: {events: [@event]} %>

<h2>Who's going</h2>
<ul>
  <% @event.attendees.each do |attendee| %>
    <li><%= attendee.username %></li>
  <% end %>
</ul>

<br>
<br>
<%= button_to "Attend this event", rsvps_path, params: { event_id: @event.id } %>
<% if current_user == @event.creator%>
  <%= button_to "Destroy this event", { action: "destroy", id: @event.id }, method: :delete %>
<% end %>